/* Tailwind */

/* For Code Highlighting */
@import url('prism.css');

/* Tailwind */
@tailwind components;
@tailwind utilities;
@tailwind base;

/* Tailwind Additional Base Styles */

@layer base {
  
  /* Text Selection */
  ::selection {
    color: white;
    background-color: #0000ff;
  }
  
  /* Headers */
  h1 {
    @apply text-6xl font-semibold py-2;
  }
  h2 {
    @apply text-4xl font-semibold py-2;
  }
  h3 {
    @apply text-3xl font-semibold py-2;
  }
  h4 {
    @apply text-2xl font-semibold py-2;
  }
  h5 {
    @apply text-xl font-semibold py-2;
  }
  
  /* Content */
  #content {
    @apply font-medium;
    @apply max-w-4xl mx-auto;
  }
  #content p {
    padding-bottom: 1em;
  }
  #content li {
    list-style-type: disc; 
    list-style-position: inside;
    margin-left: 1em;  
  }
  
  /* Content Links */
  
  #content a, #content a:visited {
    text-decoration: underline;
    @apply decoration-2;
    @apply decoration-pure-magenta;
  }
  #content a:hover, #content.news a:hover {
    text-decoration: underline;
    @apply decoration-4 underline-offset-2;
    @apply decoration-pure-magenta;
  }
  #content a:active, #content.news a:active {
    @apply decoration-pure-blue;
  }
  
  
  
  
  
  /* Box */
  .box {
    @apply border-solid border-2 border-black my-8 p-2;
    box-shadow: 5px 5px 0px black;
  }
  
  /* Box Links */
  #content a.box:hover {
    @apply border-pure-magenta;
    box-shadow: 5px 5px 0px #ff00ff;
  }
  #content a.box:active {
    @apply border-pure-blue;
    box-shadow: 5px 5px 0px #0000ff;
  }
  
  /* Links in News Box */
  #content .box#news a {
    @apply text-black bg-transparent underline;
  }
  #content .box#news a:hover {
    @apply underline;
  }
  
  /* Content Members */
  #content #members a, #content #members a:visited {
    @apply text-black bg-white;
    @apply rounded-lg;
  }
  #content #members a:hover {
    @apply text-black bg-gray-100;
  }
  #content #members a:active {
    @apply text-white bg-pure-magenta;
  }
  
  
  /* Links in Header, Nav & Footer */
  header a, nav a, footer a {
    text-decoration: none;
  }
  nav.breadcrumbs a {
    text-decoration: underline;
    @apply decoration-2;
    @apply decoration-pure-magenta;
  }
  header a:hover, nav a:hover, footer a:hover, 
  header a.active:hover, nav a.active:hover, footer a.active:hover {
   text-decoration: underline;
   @apply decoration-4 underline-offset-2;
   @apply decoration-pure-magenta;
  }
  header a.active, nav a.active, footer a.active {
   text-decoration: underline;
   @apply decoration-2 underline-offset-2;
   @apply decoration-pure-magenta;
  }

  header a:active, nav a:active, footer a:active,
  header a.active:active, nav a.active:active, footer a.active:active {
    @apply decoration-pure-blue;
  }

  #news a {
    @apply text-black bg-transparent;
  }
  
  /* Content */ 
  /* Content Admonition */
  #content div.admonition {
    @apply border-2 rounded-xl;
    @apply p-4 text-xl font-normal;
    @apply pb-0;
  }
  #content div.note {
    @apply bg-green-200 border-green-400;
  }
  #content div.alert {
    @apply bg-red-200 border-red-400;
  }
  #content div.warning {
    @apply bg-yellow-200 border-yellow-400;
  }
  
  
  
  /* Pills */
  .pill {
    @apply text-black bg-gray-200 rounded-full px-1.5 py-0.5;
  }
  .pill-ok {
    @apply text-white bg-green-500 rounded-full px-1.5 py-0.5;
  }
  .pill-ng {
    @apply text-white bg-red-500 rounded-full px-1.5 py-0.5;
  }
  
  /* Edit Button */
  .edit-button {
    @apply bg-white hover:bg-black text-black hover:text-white font-semibold py-2 px-4 border border-black active:bg-pure-magenta active:border-pure-magenta rounded-full;
  }
  
  /* Login Button */
  a.login-button {
    @apply ml-4 no-underline bg-pure-magenta text-white font-semibold py-1 px-2 rounded-full;
  }
  a.login-button:hover {
    @apply no-underline bg-pure-blue;
  }
  a.login-button:active {
    @apply no-underline bg-white text-pure-blue;
  }
  
  
  /* Helper Classes for Image Markdown, because w-3/4 is NG, does not like "/" */
  .w-100, .width-100 {
    @apply w-full;
    @apply mx-auto;
  }
  .w-75, .width-75  {
    @apply w-full md:w-3/4;
    @apply mx-auto;
  }
  .w-50, .width-50 {
    @apply w-full md:w-1/2;
    @apply mx-auto;
  }

  #content figure, #content > div > p > img { 
    @apply py-2;
  }
  #content figure > p, #content blockquote p { 
    @apply pb-0;
  }
  #content figure > figcaption {
    @apply text-sm px-2 py-1 bg-gray-50 rounded-b-lg;
  }  
  #content blockquote {
    @apply text-2xl font-normal text-slate-500 p-4 px-6 rounded-lg mb-2;
    @apply bg-slate-50;
    @apply border border-slate-500;
  }
  #content blockquote.dark {
    @apply text-2xl font-normal text-slate-200 p-4 px-6 rounded-lg mb-2;
    @apply bg-slate-700;
    @apply border-none;
  }
  #content blockquote.rainbow {
    @apply text-2xl font-normal text-slate-100 p-4 px-6 rounded-lg mb-2;
    @apply bg-gradient-to-tr from-indigo-500 via-purple-500 via-green-500 via-yellow-500 to-pink-500;
    @apply border-none;
  }
  #content ul {
    @apply pb-4;
  }
  
  
  @media (min-width: 640px) {
    .inventory_item_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 768px) {
    .inventory_item_grid {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }
  }
}

