html {
 /* font-family: "Helvetica Neue"; */

 
}
body {
  font-family:sans-serif;
  font-family:"Helvetica Neue", -apple-system,BlinkMacSystemFont,"Segoe UI Adjusted","Segoe UI","Liberation Sans";
}


a, a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: white;
  background: blue;
  text-decoration: none;
}
a:active {
  color: white;
  background: #ff00ff;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

/*
article a, article a:visited {
  color: white;
  background: #ff00ff;
  text-decoration: none;
  border: 0px solid black;
  box-shadow: 3px 3px 0px black;
  padding: 0 0.25em;
}

article a:hover {
  color: white;
  background: blue;
  box-shadow: 4px 4px 0px black;
  padding: 0 0.25em;
}

article a:active {
  color: white;
  background: blue;
  box-shadow: 2px 2px 0px black;
  padding: 0 0.25em;
}
*/


#member li {
  text-decoration: none;
}

#member li:hover {
  color: blue;
  background: #eee;
  text-decoration: none;
}
#member li:active {
  color: blue;
  background: #ddd;
  text-decoration: none;
}


#message a, #message a:visited, #message a:active {
  color: white;
  background: blue;
  text-decoration: none;
}
#message a:hover {
  color: blue;
  background: white;
  text-decoration: none;
}
#message a:active {
  color: white;
  background: blue;
  text-decoration: none;
}

#social a, #social a:visited, #social a:active {
  color: black;
  background: transparent;
}
#social a:hover {
  color: blue;
}
#social a:active {
  color: #f0f;
}
